{% extends "garage/base.html" %}


{% block content %}

<div class="form-group">
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'garage:ordem-create' %}">Criar</a>

</div>
    {% for ordem in ordens %}
        <article class="media content-section" >
          <div class="media-body">
            <div class="article-metadata">
              id:<a class="mr-2" href="#">{{ ordem.id }}</a>
              <small class="text-muted">{{ ordem.data_ordem }}</small>
            </div>
            {% comment %} <h2><a class="article-title" href="{% url 'garage:ordem-detail' cliente.id %}">{{ ordem.titulo }}</a></h2> {% endcomment %}
            <p class="article-content">{{ ordem.descricao }}</p>
            <p class="article-content">{{ ordem.condicao }}</p>
            <p class="article-content">{{ ordem.diagnostico }}</p>
            <p class="article-content">{{ ordem.cliente_id }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}




{% comment %} titulo', 'status', 'condicao', 'descricao', 'diagnostico', 'data_ordem', 'veiculo_id', 'cliente_id' {% endcomment %}