{% load crispy_forms_tags %}

<div class="content-section">
    <form method="POST_VEICULO">
        {% csrf_token %}
        <fieldset class="criarveiculo">
            <!-- Título do formulário -->
            <legend class="border-bottom mb-4">Cadastro de Novo Veículo</legend>
            <!-- Renderização do formulário com Crispy Forms -->
            {{ form_veiculos|crispy }}
        </fieldset>
        <div class="form-group">
            <!-- Botão de submissão do formulário -->
            <button class="btn btn-outline-info" type="submit">Criar veículo</button>
        </div>
    </form>
</div>