{% extends "garage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Cadastro de Novo Veículo</legend>
            {{ form.marca|as_crispy_field }}
            {{ form.modelo|as_crispy_field }}
            {{ form.ano|as_crispy_field }}
            {{ form.motor|as_crispy_field }}
            {{ form.placa|as_crispy_field }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Criar Veículo</button>
        </div>
    </form>
</div>
{% endblock content %}
