{% extends "garage/base.html" %}
{% block content %}


<div class="form-group">
  <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'garage:veiculo-create' %}">Criar</a>
</div>
{% for veiculo in veiculos %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-muted">{{ veiculo.data_criacao|date:"d " }} de {{ veiculo.data_criacao|date:"F" }} de {{ veiculo.data_criacao|date:"Y" }} </small>
    </div>
    <h2><a class="article-title" href="{% url 'garage:veiculo-detail' veiculo.id %}" >{{ veiculo.marca }} {{ veiculo.modelo }}</a></h2>
    <p class="classificacao"><strong>Veículo:</strong> {{ veiculo.marca }} {{ veiculo.modelo }}, {{ veiculo.ano }}</p>
    <p class="classificacao"><strong>Placa:</strong> {{ veiculo.placa }}</p>
    <p class="classificacao"><strong>Motor:</strong> {{ veiculo.motor }}</p>
  </div>
</article>
{% endfor %}

{% endblock content %}

