from django.contrib.admin.views.decorators import staff_member_required
from django.shortcuts import get_object_or_404
from django.views.generic import View
from django.http import HttpResponseRedirect
from django.urls import reverse

from .models import Veiculo

@staff_member_required
def delete_veiculo(request, veiculo_id):
    veiculo = get_object_or_404(Veiculo, id=veiculo_id)
    if request.method == 'POST':
        veiculo.delete()
        return HttpResponseRedirect(reverse('garage:client-detail', args=[veiculo.cliente_id]))
    return render(request, 'garage/veiculo_delete.html', {'veiculo': veiculo})
