{% extends "garage/base.html" %}


{% block content %}
    {% for ordem in ordens %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ ordem.id }}</a>
              <small class="text-muted">{{ ordem.data_ordem }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'garage:ordem-detail' ordem.id %}">{{ ordem.titulo }}</a></h2>
            <p class="article-content">{{ ordem.cliente_id }}</p>
            <p class="article-content">{{ ordem.veiculo_id }}</p>
            <p class="article-content">{{ ordem.descricao }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
