{% extends "garage/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <!-- Formulário de atualização de cadastro de cliente -->
        <form method="POST">
            {% csrf_token %}
            <!-- Grupo de campos -->
            <fieldset class="form-group">
                <!-- Título do formulário -->
                <legend class="border-bottom mb-4">Atualização de Cadastro de Cliente</legend>
                <!-- Renderização do formulário com crispy forms -->
                {{ form|crispy }}
            </fieldset>
            <!-- Botão de envio do formulário -->
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Atualizar</button>
            </div>
        </form>
    </div>
{% endblock content %}
