{% extends "garage/base.html" %}
{% block content %}

<!-- Botão de criação de novo cliente -->
<div class="form-group">
  <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'garage:client-create' %}">Criar Novo Cliente</a>
</div>

<!-- Loop pelos clientes -->
{% for cliente in clientes %}
<article class="media content-section">
  <div class="media-body">
      <!-- Metadados do cliente -->
      <div class="article-metadata">
          <small class="text-muted">{{ cliente.data_criacao|date:"d " }} de {{ cliente.data_criacao|date:"F" }} de {{ cliente.data_criacao|date:"Y" }}</small>
      </div>
      <!-- Detalhes do cliente -->
      <h2><a class="article-title" href="{% url 'garage:client-detail' cliente.id %}" >{{ cliente.nome }}</a></h2>
      <p class="classificacao"><strong>Endereço:</strong> {{ cliente.endereco }}</p>
      <p class="classificacao"><strong>Bairro:</strong> {{ cliente.bairro }}</p>
      <p class="classificacao"><strong>Cidade:</strong> {{ cliente.cidade }}</p>
      <p class="classificacao"><strong>CEP:</strong> {{ cliente.cep }}</p>
      <p class="classificacao"><strong>Número do CPF:</strong> {{ cliente.n_cpf }}</p>
  </div>
</article>
{% endfor %}

{% endblock content %}
